In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# create new coloumns for calculations 
# create column for Per Student Budget
school_data_complete['Per Student Budget'] = (school_data_complete["budget"] / school_data_complete["size"])

# create new column for math
school_data_complete_math = school_data_complete.loc[school_data_complete['math_score'] >= 70, 'PassedMath'] = 'True'

# create new column for reading
school_data_complete_read = school_data_complete.loc[school_data_complete['reading_score'] >= 70, 'PassedReading'] = 'True'

# create new column for math & reading
school_data_complete_all = school_data_complete.loc[(school_data_complete['PassedMath'] == 'True') & (school_data_complete['PassedReading'] == 'True'), 'PassedAll'] = 'True'

In [7]:
# Scores by School Spending
# Create a table that breaks down school performances based on average Spending Ranges (Per Student).
 # Use 4 reasonable bins to group school spending. 
bins =  [0, 585, 630, 645, 676]


# Create the names for the five bins
group_names = ["<$584", "$585-629", "$630-644", "$644-675"]

# Place the data series into a new column inside of the DataFrame
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(school_data_complete["Per Student Budget"], bins, labels=group_names, include_lowest=True)

# Create a GroupBy object based upon budget per student
Spending_group = school_data_complete.groupby(["Spending Ranges (Per Student)"])

# create columns counts for calulations
Spending_df = Spending_group[["PassedMath", "PassedReading", "PassedAll", "size"]].count()

# Include in the table each of the following:
# Average Math Score, Reading Score
Spending_df["Average Math Score"] = round(Spending_group["math_score"].mean(), 2)
Spending_df["Average Reading Score"] = round(Spending_group["reading_score"].mean(), 2)

# % Passing Math, Reading, and Overall scores
Spending_df["% Passing Math"] = round((Spending_df["PassedMath"] / Spending_df["size"])*100, 2)
Spending_df["% Passing Reading"] = round((Spending_df["PassedReading"] / Spending_df["size"])*100, 2)
Spending_df["Overall Passing Rate"] = round((Spending_df["PassedAll"] / Spending_df["size"])*100, 2)

# Create dataframe for spending summary by droping columns not needed
spending_summary_df = Spending_df.drop(['PassedMath', 'PassedReading','PassedAll','size'], axis=1)
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$584,83.36,83.96,93.70,96.69,90.64
$585-629,79.98,82.31,79.11,88.51,70.94
$630-644,77.82,81.30,70.62,82.60,58.84
$644-675,77.05,81.01,66.23,81.11,53.53

In [8]:
# Scores by School Size
bins =  [0, 1000, 2001, 5001]


# Create the names for the five bins
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Place the data series into a new column inside of the DataFrame
school_data_complete["School Size"] = pd.cut(school_data_complete["size"], bins, labels=group_names, include_lowest=True)

# Create a GroupBy object based upon budget per student
Size_group = school_data_complete.groupby(["School Size"])

# create columns counts for calulations
Size_df = Size_group[["PassedMath", "PassedReading", "PassedAll", "size"]].count()

# Include in the table each of the following:
# Average Math Score, Reading Score
Size_df["Average Math Score"] = round(Size_group["math_score"].mean(), 2)
Size_df["Average Reading Score"] = round(Size_group["reading_score"].mean(), 2)

# % Passing Math, Reading, and Overall scores
Size_df["% Passing Math"] = round((Size_df["PassedMath"] / Size_df["size"])*100, 2)
Size_df["% Passing Reading"] = round((Size_df["PassedReading"] / Size_df["size"])*100, 2)
Size_df["Overall Passing Rate"] = round((Size_df["PassedAll"] / Size_df["size"])*100, 2)

# Create dataframe for size summary by droping columns not needed
size_summary_df = Size_df.drop(['PassedMath', 'PassedReading','PassedAll','size'], axis=1)
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.83,83.97,93.95,96.04,90.14
Medium (1000-2000),83.37,83.87,93.62,96.77,90.62
Large (2000-5000),77.48,81.20,68.65,82.13,56.57