In [ ]:


# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

In [16]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [23]:
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
school_data_sorted = school_data_complete['sort_by'] = [row for row in school_data_complete['grade']]
school_data_sorted.replace({'sort_by': {"9th": "1", "10th": "2","11th": "3", "12th": "4"}})

school_data_sorted.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,sort_by
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,9th
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,12th
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,12th
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,12th
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,9th

In [19]:
mean_by_grade = school_data_sorted.groupby(["school_name", "grade", "sort_by"]).mean()
mean_by_grade.head()

KeyError: 'school_name'

In [ ]:
pivot_math_df = mean_by_grade.pivot_table(index='school_name', columns='grade', values='math_score')
pivot_math_df["9th"] = pivot_math_df["9th"].map("{:.2f}".format)
pivot_math_df["10th"] = pivot_math_df["10th"].map("{:.2f}".format)
pivot_math_df["11th"] = pivot_math_df["11th"].map("{:.2f}".format)
pivot_math_df["12th"] = pivot_math_df["12th"].map("{:.2f}".format)
pivot_math_df.head()

In [ ]:
# Perform the same operations as above for reading scores